body {
  font-family: sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.row {
    height: 150px;
}

[class*="col-"] {
  float: left;
  height: 100%;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
  line-height: 150px;
}

.container .row:last-child [class*="col-"] .row {
    height: 140px;
    margin: 5px;
}

.container .row:last-child [class*="col-"] .row > [class*="col-"] {
    background-color: salmon;
    border: 1px solid white;
}

.container .row:last-child [class*="col-"]:last-child .row > [class*="col-"]:last-child {
  background-color: red;
}

.container .row:last-child [class*="col-"]:last-child .row > [class*="col-"]:last-child span {
  font-family: "Minecraft", sans-serif;
}

.container .row:last-child [class*="col-"]:last-child .row > [class*="col-"]:last-child span:hover {
  font-size: 30px;
}
